* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: rgba(0,0,0);
    padding: 0 30px;
    background-color: rgba(0,0,0);
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(255,192,203,.9),
        rgba(75,0,130,.9)
        );
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.text-box {
    position: absolute;
    top: 35%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color:rgba(0,0,0);
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-hello {
    display: block;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 25px;
    animation-name: moveInTop;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.heading-world {
    display: block;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 25px;
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.btn {
    animation-name: moveInButton;
    animation-duration: 4s;
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        transform: translateY(10px)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(75,0,130,.3);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(75,0,130,.3);
}

.btn-black {
    background-color: rgba(0,0,0);
    color: #fff;
    left: -5%;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-black::after {
    background-color: rgba(0,0,0);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}